<h1>Hellur wurld!</h1>

<form method="post">
    <label for="begYear">Beginning Year: </label>
    <input type="number" name="begYear" id="begYear"/>

    <label for="endYear">Ending Year: </label>
    <input type="number" name="endYear" id="endYear"/>

    <button type="submit">Bring back my people!</button>
</form>