<link href="~/StyleSheet.css" rel="stylesheet" />

<body>
    <h1>TIME</h1>

    <form method="post">
        <div class="input">
            <label for="begYear">Beginning Year: </label>
            <input type="number" name="begYear" id="begYear" />
        </div>
        <div class="input">
            <label for="endYear">Ending Year: </label>
            <input type="number" name="endYear" id="endYear" />
        </div>

        <button type="submit">Submit</button>
    </form>
</body>