@model List<LAB11_MyFirstMVCApp.Models.TimePerson>

<h1>This is the results page.</h1>

<table>
    <tr>
        <th>
            Year
        </th>
        <th>
            Name
        </th>
        <th>
            Honor
        </th>
    </tr>
@foreach(var person in Model)
{
    <tr>
        <td>
            @person.Year
        </td>
        <td>
            @person.Name
        </td>
        <td>
            @person.Honor
        </td>
    </tr>
}
</table>